<!DOCTYPE html>
<html>
    <head>
        <title>create</title>
    </head>
<body>
    <h1>create</h1>
<form action="" method="post">
{%csrf_token%}
    <label for="author">your nickname</label>
    <input type="text" name="author" title="your nickname">
    <label for="author_password">password</label>
    <input type="password" name="author_password" title="password">

    <label for="title">title</label>
    <input type="text" name="title" title="title">
    <label for="content">content</label>
    <textarea title="content" name="content"></textarea>
<input type="submit" value="create">
</form>
</body>
    </html>