<!DOCTYPE html>
<html>
    <head>
        <title>reading {{article.title}}</title>
    </head>
<body>
<a href="/">go to home</a>
    <h1>{{article.title}}</h1>
<div>
    created by {{article.author}}
    {{article.date}}<br>
<a href="{%url 'updateview' article.id%}">modify</a>
<details>
<summary>delete this post</summary>

<form action="{{%url 'deleteview' %}" method="post">
{%csrf_token%}
<input type="hidden" name="id" value="{{article.id}}">
<label for="author">your nickname</label>
<input type="text" title="your nickname" name="author":
<label for="author_password">password</label>
<input type="password" name="author_password" title="password">
<input type="submit" value="delete this post">
</details>
   
</div>
<h2>content</h2>
<div>
<pre>
{{article.content}}
</pre>
</div>
<h2>comments</h2>
{%if comments %}
{%for comment in comments %}
<ul>
{{comment.author}} commented at {{comment.comment_date}}
<pre>
{{comment.comment_content}}
</pre>
</ul>
{%endfor%}
{%endif%}
<br>
<form action="http://{{host}}/createcmt/" method="post">
{%csrf_token%}
<input type="hidden" name="id" value="{{article.id}}">
<label for="author">your nickname</label>
<input type="text" name="author" title="your nickname">
<label for="author_password">password</label>
<input type="password" name="author_password" title="password">
<label for="comment_content">comment content</label>
<textarea name="comment_content" title="comment content"></textarea>
<input type="submit" value="create comment">
</form>

{%if errormsg %}
<div>{{errormsg}}</div>
{%endif%}
<br>
</body>
    </html>